

/* -------------------------------Main Heading-------------------------- */
.main-heading{
    color: rgb(96, 159, 179);
}
.main-heading-icon{
    color: rgb(218, 197, 136);
}
/* -------------------------------calculation part------------------------- */
.input-bg{
background-color: #DCDCDC;
}
#btn-calculate{
    width: 200px;
    height: 40px;
    border: 0;
    background-color: rgb(143, 203, 221);
}
#btn-save{
    width: 130px;
    height: 30px;   
    border: 0;
    background-color: rgb(143, 203, 221);
}