

/* -------------------------------Main Heading-------------------------- */
.main-heading{
    color: rgb(96, 159, 179);
}
.main-heading-icon{
    color: rgb(218, 197, 136);
}
/* -------------------------------calculation part------------------------- */
.input-bg{
background-color: #DCDCDC;
}
#input-save-percentage{
    width: 25%;
    text-align: center;
}
#btn-calculate{
    width: 200px;
    height: 40px;
    border: 0;
    background-color: rgb(143, 203, 221);
}
#btn-save{
    width: 130px;
    height: 30px;   
    border: 0;
    background-color: rgb(143, 203, 221);
}
/* -------------------reset fields------------------------- */
#btn-reset{
    width: 130px;
    height: 30px;  
}
/* -----------------------------error message---------------------------- */

#income-error-msg{
    display: none;
}
#food-error-msg{
    display: none;
}
#rent-error-msg{
    display: none;
}
#clothes-error-msg{
    display: none;
}
/* #income-error-msg{
    display: none;
} */
#balance-error-msg-div{
    display: none;
}
#savings-error-msg-div{
    display: none;
}
#save-percentage-error-msg{
    display: none;
}

/* ----------------------footer------------------------------- */
.footer-bg{
    background-color: rgba(96, 160, 179, 0.39);;
}